<!-- home.html -->

    {% extends 'base.html' %}
    {% block title %} Home {% endblock %}
    {% block content %}
      <div class="row">
        <div class="col-sm-12 mb-3">
          <h4 class="text-center">Welcome {{ user.first_name }}</h4>
        </div>

            <!-- Add from here -->
        <p>{{ question }}</p>
        <br><br>
        <ul>
        {% for choice in question.choice_set.all %}
        <input type="radio" id=choice.choice_text name="choice"  value=choice.choice_text>
        <label for=choice.choice_text>{{ choice.choice_text }}</label><br>
        {% endfor %}
        </ul>
        <div class="col-sm-4 mt-2 ">
            <button class="btn btn-danger">
              <a href="{% url 'submit' %}">Submit</a>
            </button>
          </div>
          <div class="col-sm-4 mt-2 ">
            <button class="btn btn-danger">
              <a href="{% url 'skip' %}">Skip</a>
            </button>
          </div>
          <div class="col-sm-4 mt-2 ">
            <button class="btn btn-danger">
              <a href="{% url 'logout' %}">Logout</a>
            </button>
          </div>
            <!-- End here -->
      </div>
    {% endblock %}